<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Faye's API Example %></h1>
    <p>Welcome to Faye's API Example <%= title %></p>
  </body>
</html>
